<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="container-fluid">
    <!--<a routerLink="/">About</a>-->
    <!--<a routerLink="/">Category</a>-->
    <!--<a routerLink="/">Information</a>-->
  </div>
  <div class="logo">
    <img src="../assets/images/the_logo_light.gif">
  </div>
</header>
<section>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</section>
<footer>
  <div class="container-fluid" style="text-align: center">
    <p>&copy; 2019 Photo App</p>
  </div>
</footer>

